
.text-1 {
color: #46e819;
}
text-3 {
    color: black;
}

text-2 {
    color: darkgrey;
}
.foto-1 {
    width: 100%;
}

.round-button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.round-button::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
    transform: rotate(45deg);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.round-button:hover::after {
    opacity: 1;
}

.round-button-2 {
    background-color: ivory;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.round-button-2::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
    transform: rotate(45deg);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.round-button-2:hover::after {
    opacity: 1;
}